<form [formGroup]="form">
  <mat-form-field>
    <mat-label>メッセージ</mat-label>
    <textarea
      formControlName="tickers"
      matInput
      autocomplete="off"
      autofocus
      placeholder="チャンネル登録よろしく😀"
      matTextareaAutosize
      required
    ></textarea>
    <mat-hint>改行区切り</mat-hint>
  </mat-form-field>
  <mat-form-field>
    <mat-label>継続時間</mat-label>
    <input
      formControlName="duration"
      matInput
      type="number"
      autocomplete="off"
      min="1"
    />
    <mat-hint>秒</mat-hint>
  </mat-form-field>
  <mat-form-field>
    <mat-label>アニメーション時間</mat-label>
    <input
      formControlName="speed"
      matInput
      type="number"
      autocomplete="off"
      min="1"
    />
    <mat-hint>秒</mat-hint>
  </mat-form-field>
  <mat-form-field>
    <mat-label>間隔</mat-label>
    <input
      formControlName="interval"
      matInput
      type="number"
      autocomplete="off"
      min="1"
    />
    <mat-hint>秒</mat-hint>
  </mat-form-field>
  <mat-form-field>
    <mat-label>背景色</mat-label>
    <input
      formControlName="background"
      matInput
      type="color"
      autocomplete="off"
    />
  </mat-form-field>
  <mat-form-field>
    <mat-label>テキストカラー</mat-label>
    <input formControlName="color" matInput type="color" autocomplete="off" />
  </mat-form-field>
</form>
