<form [formGroup]="form">
  <mat-form-field>
    <mat-label>画像URL</mat-label>
    <input
      placeholder="https://xxxxx/xxx.png"
      formControlName="url"
      matInput
      type="url"
      autocomplete="off"
    />
  </mat-form-field>
  <mat-form-field>
    <mat-label>継続時間</mat-label>
    <input
      formControlName="duration"
      matInput
      type="number"
      autocomplete="off"
      min="1"
    />
    <mat-hint>秒</mat-hint>
  </mat-form-field>
  <mat-form-field>
    <mat-label>間隔</mat-label>
    <input
      formControlName="interval"
      matInput
      type="number"
      autocomplete="off"
      min="1"
    />
    <mat-hint>秒</mat-hint>
  </mat-form-field>
</form>
